{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set profiler_markup_version = profiler_markup_version|default(1) %}

    {% set callCount = collector.calls|length %}
    {% set errorCount = collector.errors|length %}

    {% set cacheHitCount = 0 %}
    {% for call in collector.calls if call.cache is defined and call.cache == 'HIT' %}
        {% set cacheHitCount = cacheHitCount + 1 %}
    {% endfor %}

    {% if callCount == 0 %}
        {% set color_code = '' %}
    {% elseif errorCount > 0 %}
        {% set color_code = 'red' %}
    {% else %}
        {% set color_code = 'green' %}
    {% endif %}

    {% set icon %}
        {% if profiler_markup_version == 1 %}
            {{ include('@CsaGuzzle/Collector/icon.svg') }}
            <span class="sf-toolbar-status sf-toolbar-status-{{ color_code }}">{{ callCount }}</span>
        {% else %}
            {{ include('@CsaGuzzle/Collector/icon.svg') }}
            <span class="sf-toolbar-value">{{ callCount }}</span>
        {% endif %}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Success</b>
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ callCount - errorCount }}</span>
        </div>
        {% if cacheHitCount %}
            <div class="sf-toolbar-info-piece">
                <b>Cached</b>
                <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ cacheHitCount }}</span>
            </div>
        {% endif %}
        <div class="sf-toolbar-info-piece">
            <b>Errors</b>
            <span class="sf-toolbar-status sf-toolbar-status-red">{{ errorCount }}</span>
        </div>
    {% endset %}

    {{ include('WebProfilerBundle:Profiler:toolbar_item.html.twig', { link: 'guzzle', status: color_code }) }}
{% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/csaguzzle/css/screen.min.css') }}">
<script src="{{ asset('bundles/csaguzzle/js/profile.min.js') }}"></script>
{% endblock %}

{% block menu %}
    <span class="label {% if collector.errors|length > 0 %}label-status-error{% endif %}">
        <span class="icon">
            {{ include('@CsaGuzzle/Collector/icon.svg') }}
        </span>
        <strong>{{ collector.name|capitalize|default('HTTP calls') }}</strong>
        <span class="count">
            {% if collector.calls is not empty %}
                <span>{{ collector.calls|length }}</span>
            {% endif %}
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>{{ (collector.name|capitalize)|default('HTTP calls') }}</h2>
    {{  include('@CsaGuzzle/Calls/list.html.twig', { calls: collector.calls }) }}
{% endblock %}
