{% import '@CsaGuzzle/Calls/v1/macros.html.twig' as macros %}

<li class="row call {{ call.request.method|lower }}">
    <header data-toggle="collapse" data-target="#collapse-call-{{ loop.index }}">
        <span class="method">{{ call.request.method }}</span>
        {% if call.request.method == 'GET' %}
            <h3><a href="{{ call.uri }}" target="_blank" class="path">{{ call.uri }}</a></h3>
        {% else %}
            <span class="path">{{ call.uri }}</span>
        {% endif %}
        {% set statusCode = call.httpCode %}
        <span class="status-code badge {{ statusCode|csa_guzzle_status_code_class }}">
            {{ statusCode }} - {{ call.response is defined ? call.response.reasonPhrase : 'Unknown error' }}
        </span>
        {% if call.cache is defined %}<span class="cache {{ call.cache|lower }} badge">Cache {{ call.cache }}</span>{% endif %}
    </header>

    <div id="collapse-call-{{ loop.index }}" class="collapse{{ loop.first ? ' in' : '' }}">
        <ul class="nav nav-pills">
            <li class="active"><a href="#request-{{ loop.index }}" data-toggle="tab">Request</a></li>
            {% if call.response is defined %}<li><a href="#response-{{ loop.index }}" data-toggle="tab">Response</a></li>{% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="request-{{ loop.index }}">
                {{ macros.render_infos(call.info) }}
                {{ macros.render_headers(call.request.headers, call.uri) }}
                {{ macros.render_body(call.request.body) }}
            </div>
            {% if call.response is defined %}
            <div class="tab-pane" id="response-{{ loop.index }}">
                {{ macros.render_headers(call.response.headers, call.uri) }}
                {{ macros.render_body(call.response.body) }}
            </div>
            {% endif %}
        </div>

        <script type="text/javascript">
            $('#request-{{ loop.index }} a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        </script>
    </div>
</li>
