{% import '@CsaGuzzle/Calls/v2/macros.html.twig' as macros %}

    <table>
        <tr>
            <th>{{ call.request.method }}
            {% if call.request.method == 'GET' %}
                <a href="{{ call.uri }}" target="_blank" class="path">{{ call.uri }}</a>
            {% else %}
                <span class="path">{{ call.uri }}</span>
            {% endif %}
            {% set statusCode = call.httpCode %}
            <span class="badge">
                {{ statusCode }} - {{ call.response is defined ? call.response.reasonPhrase : 'Unknown error' }}
            </span>
            {% if call.cache is defined %}<span class="badge">Cache {{ call.cache }}</span>{% endif %}
            </th>
        </tr>
    </table>

    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">Request</h3>
            <div class="tab-content">
                {{ macros.render_infos(call.info) }}
                {{ macros.render_headers(call.request.headers, call.uri) }}
                {{ macros.render_body(call.request.body) }}
            </div>
        </div>
        {% if call.response is defined %}
            <div class="tab">
                <h3 class="tab-title">Response</h3>
                <div class="tab-content">
                    {{ macros.render_headers(call.response.headers, call.uri) }}
                    {{ macros.render_body(call.response.body) }}
                </div>
            </div>
        {% endif %}
    </div>
</li>
